/* *{
    margin: 0;
    padding: 0;
} */
/* font-family start */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}
.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}
.fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
}
/* font-family end */
body{
    background-color: #F5F5F5;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/* navbat start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    font-size: 28px;
}
.btn-sing {
    border: 1px solid #006A50; 
    padding: 13px 30px;
    border-radius: 8px;

}
.btn-sing a{
    text-decoration: none;
    color: #006A50; 
}

/* navbar end */

/* Banner Section start */

.banner-Section{
    background-color: #C6E4D6;
    height: 560px;
    width: 1280px;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
    
}
.banner-right .banner-subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;

}
.banner-right .banner-title{
    font-size: 50px;
}
.banner-right .banner-btn {
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 17px 34px ;
    background-color: #006A50;
    
    font-size: 18px;
}
.banner-btn a{
    text-decoration: none;
    color: #F5F5F5;
}
/* Banner Section End  */

/* pillars section  start*/

.pillars-section{
    margin-top: 60px;  
}
.pillars-section .pillars-title{
    font-weight: bold;
    font-size: 36px;
}
.pillars-section .pillars-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    
    
}
.pillars-card1{
    width: 302px;
    height: 220px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding-left: 20px;
    padding-top: 20px;
}
.pillars-card1 h3{
    color: rgba(14, 14, 14, 0.8);
}
.pillars-card1 p{
 color:rgba(14, 14, 14, 0.7) ;
 font-size: 16px;
}
.pillars-card2{
    width: 302px;
    height: 220px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding-left: 20px;
    padding-top: 20px;
}
.pillars-card2 h3{
    color: rgba(14, 14, 14, 0.8);
}
.pillars-card2 p{
 color:rgba(14, 14, 14, 0.7) ;
 font-size: 16px;
}
.pillars-card3{
    width: 302px;
    height: 220px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding-left: 20px;
    padding-top: 20px;
}
.pillars-card3 h3{
    color: rgba(14, 14, 14, 0.8);
}
.pillars-card3 p{
 color:rgba(14, 14, 14, 0.7) ;
 font-size: 16px;
}
.pillars-card4{
    width: 302px;
    height: 220px;
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 16px;
}
.pillars-card4 h3{
    color: rgba(14, 14, 14, 0.8);
}
.pillars-card4 p{
 color:rgba(14, 14, 14, 0.7) ;
 font-size: 16px;
}

/* pillars section  end*/
